In [19]:
import pandas as pd
from scipy import  stats

In [20]:
df =pd.read_csv("./shopeep_koreantop_clothing_shop_data.csv",encoding='unicode_escape')
df.head()

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pk_shop             746 non-null    int64
 1   date_collected      746 non-null    object
 2   shopid              746 non-null    int64
 3   name                746 non-null    object
 4   join_month          746 non-null    object
 5   join_day            746 non-null    int64
 6   join_year           746 non-null    int64
 7   item_count          746 non-null    int64
 8   follower_count      746 non-null    int64
 9   response_time       746 non-null    object
 10  response_rate       746 non-null    int64
 11  shop_location       428 non-null    object
 12  rating_bad          746 non-null    int64
 13  rating_good         746 non-null    int64
 14  rating_normal       746 non-null    int64
 15  rating_star         740 non-null    float64
 16  is_shopee_verified  746 non-null    int64
 17  is_official_shop    746 non-null    int64
dtypes: float64(1), int64(12), object(5)
memory usage: 105.0+ KB

Giữa rating_star và follower_count có tương quan với nhau hay không

In [46]:
df1 = df.filter(['rating_star','follower_count','item_count'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rating_star     740 non-null    float64
 1   follower_count  746 non-null    int64
 2   item_count      746 non-null    int64
dtypes: float64(1), int64(2)
memory usage: 17.6 KB

In [47]:
x = df1.rating_star.mean()
x
# df1.rating_star.replace('NaNs',x)
# df1.dropna(thresh=1)
df1.rating_star.astype(float)
df1 =df1.fillna(x)
# df1.replace('',x)

In [48]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rating_star     746 non-null    float64
 1   follower_count  746 non-null    int64
 2   item_count      746 non-null    int64
dtypes: float64(1), int64(2)
memory usage: 17.6 KB

In [49]:
## 2 thuộc tính định lượng nên dùng pearson

for i in df1.columns:
    r, pvalue = stats.pearsonr(df1[i], df1['rating_star'])
    print(f"Thuộc tính 'rating_star' tương quan với '{i}' với pvalue = {pvalue} và r = {r}")

Thuộc tính 'rating_star' tương quan với 'rating_star' với pvalue = 0.0 và r = 0.9999999999999996
Thuộc tính 'rating_star' tương quan với 'follower_count' với pvalue = 0.4536892605924728 và r = 0.02747393373250281
Thuộc tính 'rating_star' tương quan với 'item_count' với pvalue = 0.30940643609981194 và r = -0.0372651114083436

In [16]:
x = df1.rating_star.mean()
df1.rating_star.replace('NaNs',x)
df1.fillna(x)
df1.to_csv('Df1.csv')