In [60]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [61]:
df = pd.read_csv('./OnlineRetail.csv',encoding='unicode_escape')
df.head()
# df.info()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [62]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

Chọn mục tiêu Vẽ biểu đồ đường thể hiện xu hướng thay đổi số lượng đơn hàng theo thời gian trong năm 2011. Vẽ biểu đồ cột so sánh số lượng đơn hàng trong các tháng của năm 2011.

In [66]:
## Chuyển DL thành kiểu DateTime
df.InvoiceDate = pd.to_datetime(df.InvoiceDate)
d1 = df[['InvoiceNo', 'InvoiceDate']]
d1 = d1.drop_duplicates(subset = 'InvoiceNo', keep = 'first')

# Đặt các giá trị của Cột thành index
d1= d1.set_index(['InvoiceDate'])

df2 = d1

df2.reset_index(drop=True)
df2.head()

                    InvoiceNo
InvoiceDate
2010-12-01 08:26:00    536365
2010-12-01 08:28:00    536366
2010-12-01 08:34:00    536367
2010-12-01 08:34:00    536368
2010-12-01 08:35:00    536369

In [58]:
df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 25900 entries, 2010-12-01 08:26:00 to 2011-12-09 12:50:00
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   InvoiceNo  25900 non-null  object
dtypes: object(1)
memory usage: 404.7+ KB

In [59]:
df2['InvoiceDate'].dt.month
df2 = df2.reset_index()
df2.drop(d1.columns['level_0':'index'],axis=1)
df2.head(9)

KeyError: 'InvoiceDate'

In [29]:
df3 = df2.groupby(by=df2['InvoiceDate'].dt.date).count()
df3.head()

KeyError: 'InvoiceDate'

In [23]:
x = df3.index.get_level_values(0)
plt.plot(x, df3['InvoiceDate'])
plt.title('Number of Invoices in 2011 (Daily)', fontsize = 16)
plt.xlabel('Date', fontsize = 14)
plt.ylabel('#Invoices', fontsize = 14)
plt.show()

NameError: name 'df3' is not defined