In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('./GDPlist.csv',encoding='unicode_escape')
df.info()
df.head()

## Dữ liệu có 125 dòng với 3 cột

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [13]:
## Tính GTLN và GTNN cho GDP
min_GDP = df.loc[:,'GDP (millions of US$)'].min()
# min_GDP = df['GDP (millions of US$)'].min()
max_GDP = df['GDP (millions of US$)'].max()
print("GTLN: ",max_GDP)
print("GTNN: ",min_GDP)

GTLN:  15094025
GTNN:  10600

In [21]:
## Xu hướng phân bố DL của GDP (dùng mode())
import statistics

modes_GDP = statistics.mode(df.loc[:,'GDP (millions of US$)'])
mean_GDP = df.loc[:,'GDP (millions of US$)'].mean()
media_GDP = df.loc[:,'GDP (millions of US$)'].median()

print("Phân bố GDP: ",modes_GDP)
print("Trung bình GDP: ",mean_GDP)
print("Trung vị GDP: ",media_GDP)

## Ta thấy Mode < Media < Mean
## Biểu đồ lệch phải.
## GDP các nước châu Phi đa số rất ít, một số quốc gia có GDP cao vượt trội

Phân bố GDP:  18181
Trung bình GDP:  555427.784
Trung vị GDP:  96089.0

In [ ]:
df.describe()

In [22]:
## Châu lục xuất hiện nhiều nhất
df_continent = df['Continent'].mode()
df_continent

## Như ta thấy, Châu Âu xuất hiện nhiều nhất

0    Europe
Name: Continent, dtype: object

In [25]:
##Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng 
# này thành một bảng duy nhất gồm 3 thông tin: 
# Tên châu lục; Tổng GDP; TBC GDP.

df_sum = df.pivot_table(values='GDP (millions of US$)', index='Continent',aggfunc='sum')
df_sum.head()

               GDP (millions of US$)
Continent
Africa                       1820811
Asia                        24425891
Europe                      19139380
North America               18238447
Oceania                      1662727

In [26]:
df_mean = df.pivot_table(values='GDP (millions of US$)', index='Continent',aggfunc='mean')
df_mean.head()

               GDP (millions of US$)
Continent
Africa                  6.278659e+04
Asia                    6.784970e+05
Europe                  5.172805e+05
North America           1.658041e+06
Oceania                 5.542423e+05

In [30]:
df_merge = pd.concat([df_sum, df_mean],axis=1)
df_merge.head()

               GDP (millions of US$)  GDP (millions of US$)
Continent
Africa                       1820811           6.278659e+04
Asia                        24425891           6.784970e+05
Europe                      19139380           5.172805e+05
North America               18238447           1.658041e+06
Oceania                      1662727           5.542423e+05

In [43]:
import pandas as pd   
onl_reatail = pd.read_csv('./OnlineRetail.csv',encoding='unicode_escape')
onl_reatail.info()

## Dữ liệu có 541909 dòng với 8 cột

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [44]:
onl_reatail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [51]:
# Xây dựng bảng Pivot table, với mỗi Số hóa đơn tính trung bình cộng 
# số lượng các mặt hàng theo từng Quốc gia. 

onl_reatail_1 = onl_reatail.pivot_table(values='Quantity',index='InvoiceNo',columns='Country',aggfunc='mean',dropna=False)
onl_reatail_1.head()

Country,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,Czech Republic,Denmark,...,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.714286,NaN
536366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,NaN
536367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.916667,NaN
536368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.750000,NaN
536369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN

In [50]:
df.CustomerID.count()
df.StockCode.count()

541909

In [53]:
# Xây dựng bảng Pivot table, với mỗi Khách hàng cho biết 
# số lượng mua hàng lớn nhất và nhỏ nhất theo Kho.

df_customer = onl_reatail.pivot_table(values='Quantity',index='CustomerID'
                             ,columns='StockCode',aggfunc='min',dropna=True)
df_customer

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12347.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
12349.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
12350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18281.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18282.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
18287.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN