In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('./GDPlist.csv',encoding='unicode_escape')
df.info()
df.head()

## Dữ liệu có 125 dòng với 3 cột

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [13]:
## Tính GTLN và GTNN cho GDP
min_GDP = df.loc[:,'GDP (millions of US$)'].min()
# min_GDP = df['GDP (millions of US$)'].min()
max_GDP = df['GDP (millions of US$)'].max()
print("GTLN: ",max_GDP)
print("GTNN: ",min_GDP)

GTLN:  15094025
GTNN:  10600

In [21]:
## Xu hướng phân bố DL của GDP (dùng mode())
import statistics

modes_GDP = statistics.mode(df.loc[:,'GDP (millions of US$)'])
mean_GDP = df.loc[:,'GDP (millions of US$)'].mean()
media_GDP = df.loc[:,'GDP (millions of US$)'].median()

print("Phân bố GDP: ",modes_GDP)
print("Trung bình GDP: ",mean_GDP)
print("Trung vị GDP: ",media_GDP)

## Ta thấy Mode < Media < Mean
## Biểu đồ lệch phải.
## GDP các nước châu Phi đa số rất ít, một số quốc gia có GDP cao vượt trội

Phân bố GDP:  18181
Trung bình GDP:  555427.784
Trung vị GDP:  96089.0

In [ ]:
df.describe()

In [22]:
## Châu lục xuất hiện nhiều nhất
df_continent = df['Continent'].mode()
df_continent

## Như ta thấy, Châu Âu xuất hiện nhiều nhất

0    Europe
Name: Continent, dtype: object

In [25]:
##Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng 
# này thành một bảng duy nhất gồm 3 thông tin: 
# Tên châu lục; Tổng GDP; TBC GDP.

df_sum = df.pivot_table(values='GDP (millions of US$)', index='Continent',aggfunc='sum')
df_sum.head()

               GDP (millions of US$)
Continent
Africa                       1820811
Asia                        24425891
Europe                      19139380
North America               18238447
Oceania                      1662727

In [26]:
df_mean = df.pivot_table(values='GDP (millions of US$)', index='Continent',aggfunc='mean')
df_mean.head()

               GDP (millions of US$)
Continent
Africa                  6.278659e+04
Asia                    6.784970e+05
Europe                  5.172805e+05
North America           1.658041e+06
Oceania                 5.542423e+05

In [30]:
df_merge = pd.concat([df_sum, df_mean],axis=1)
df_merge.head()

               GDP (millions of US$)  GDP (millions of US$)
Continent
Africa                       1820811           6.278659e+04
Asia                        24425891           6.784970e+05
Europe                      19139380           5.172805e+05
North America               18238447           1.658041e+06
Oceania                      1662727           5.542423e+05