In [3]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('./GDP.csv',encoding = 'unicode_escape')
df.info()

# Dữ liệu có 125 dòng và 3 cột. Không có dữ liệu trống

In [ ]:
df.head()
# df['GDP'].min()
# df['GDP'].max()

#Cột Country và Continent thuộc thang đo Norminal
#Cột GDP thuộc thang đo Ratio

In [15]:
print('GDP nhỏ nhất: {}, và GDP lớn nhất: {}'.format(df['GDP'].min(), df['GDP'].max()))

GDP nhỏ nhất: 10600, và GDP lớn nhất: 15094025

In [ ]:
# Vẽ biểu đồ Histogram để xác định phân bố GDP theo Quốc gia

import matplotlib.pyplot as plt

gdp = df['GDP']
# gdp_bins = [20]
gdp_bins = [10000,13000,24000,36000,800000,1200000,1900000,10000000,16000000]

plt.title('Biểu đồ phân bố GDP theo quốc gia (Triệu USD)')
plt.ylabel('Số quốc gia')
plt.xlabel('GDP (triệu USD)')
plt.hist(gdp, gdp_bins)
# plt.show()

#GDP các quốc gia không đều

In [ ]:
#Tính số quốc gia theo Châu lục

rs= df.groupby( ['Continent'],axis=0 )['Country'].count()
rs

In [ ]:
df.head()

In [10]:
rs1= df.pivot_table('Country',index='Continent',aggfunc={'Country': 'count'} )
rs1

               Country
Continent
Africa              29
Asia                36
Europe              37
North America       11
Oceania              3
South America        9

In [12]:
#Tính tổng GDP theo Châu lục
rs2 = df.pivot_table(['Country', 'GDP'],index='Continent',aggfunc={'Country':'count', 'GDP':'sum'})
rs2

               Country       GDP
Continent
Africa              29   1820811
Asia                36  24425891
Europe              37  19139380
North America       11  18238447
Oceania              3   1662727
South America        9   4141217

In [15]:
#top 10 quốc gia GDP cao nhất
rs3 = df.sort_values(by='GDP',ascending=False)
rs3.head(10)

             Country      Continent       GDP
118    United States  North America  15094025
23             China           Asia   7298147
60             Japan           Asia   5869471
44           Germany         Europe   3577031
41            France         Europe   2776324
15            Brazil  South America   2492908
117   United Kingdom         Europe   2417570
58             Italy         Europe   2198730
93            Russia           Asia   1850401
21            Canada  North America   1736869

# Bai 2

In [18]:
import pandas as pd

df = pd.read_csv('./GDPlist.csv',encoding= 'unicode_escape')
df.head()

# df.info()
# # Dữ liệu có 125 dòng và 3 cột

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [19]:
#Đổi tên cột
df.rename(columns={'Country':'Nuoc','Continent':'Chauluc','GDP (millions of US$)':'GDP (trieu $)'}, inplace=True)
df.head()

           Nuoc        Chauluc  GDP (trieu $)
0   Afghanistan           Asia          18181
1       Albania         Europe          12847
2       Algeria         Africa         190709
3        Angola         Africa         100948
4     Argentina  South America         447644

In [20]:
#Chèn thêm cột và giá trị giống cột Nuoc
df2 =df
df2.insert(loc=1,column='Thanhpho',value=df.loc[:, 'Nuoc'])
df2.head()

           Nuoc      Thanhpho        Chauluc  GDP (trieu $)
0   Afghanistan   Afghanistan           Asia          18181
1       Albania       Albania         Europe          12847
2       Algeria       Algeria         Africa         190709
3        Angola        Angola         Africa         100948
4     Argentina     Argentina  South America         447644

In [28]:
#Đối tên Thanhpho theo tên thủ đô mỗi QG
df2['Thanhpho'] = df2.Thanhpho.str.replace("Vietnam", 'HaNoi')
print(df2.loc[120: , 'Nuoc':'Thanhpho'])

            Nuoc     Thanhpho
120   Uzbekistan   Uzbekistan
121    Venezuela    Venezuela
122      Vietnam        HaNoi
123        Yemen        Yemen
124       Zambia       Zambia

In [38]:
# Xóa các dòng điều kiện Asia
df3 = df.drop(index = df.loc[df.Chauluc=='Asia'].index, axis=0)
df3.head()

         Nuoc    Thanhpho        Chauluc  GDP (trieu $)
1     Albania     Albania         Europe          12847
2     Algeria       HaNoi         Africa         190709
3      Angola      Angola         Africa         100948
4   Argentina   Argentina  South America         447644
5   Australia   Australia        Oceania        1488221

In [46]:
df.sort_values(by='GDP (trieu $)', axis=0)
df

             Nuoc      Thanhpho        Chauluc  GDP (trieu $)
0     Afghanistan   Afghanistan           Asia          18181
1         Albania       Albania         Europe          12847
2         Algeria         HaNoi         Africa         190709
3          Angola        Angola         Africa         100948
4       Argentina     Argentina  South America         447644
..            ...           ...            ...            ...
120    Uzbekistan    Uzbekistan           Asia          45353
121     Venezuela     Venezuela  South America         315841
122       Vietnam         HaNoi           Asia         122722
123         Yemen         Yemen         Africa          33675
124        Zambia        Zambia         Africa          19206

[125 rows x 4 columns]

In [ ]:
# Xóa các dòng GDP <300.000
df4 = df.drop(index=df.loc[df['GDP (trieu $)'] <300000].index, axis=0)
df4