In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./GDP.csv',encoding = 'unicode_escape')
df.info()

# Dữ liệu có 125 dòng và 3 cột. Không có dữ liệu trống

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    125 non-null    object
 1   Continent  125 non-null    object
 2   GDP        125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [30]:
df.head()
# df['GDP'].min()
# df['GDP'].max()

#Cột Country và Continent thuộc thang đo Norminal
#Cột GDP thuộc thang đo Ratio

        Country      Continent     GDP
0   Afghanistan           Asia   18181
1       Albania         Europe   12847
2       Algeria         Africa  190709
3        Angola         Africa  100948
4     Argentina  South America  447644

In [15]:
print('GDP nhỏ nhất: {}, và GDP lớn nhất: {}'.format(df['GDP'].min(), df['GDP'].max()))

GDP nhỏ nhất: 10600, và GDP lớn nhất: 15094025

In [ ]:
# Vẽ biểu đồ Histogram để xác định phân bố GDP theo Quốc gia

import matplotlib.pyplot as plt

gdp = df['GDP']
# gdp_bins = [20]
gdp_bins = [10000,13000,24000,36000,800000,1200000,1900000,10000000,16000000]

plt.title('Biểu đồ phân bố GDP theo quốc gia (Triệu USD)')
plt.ylabel('Số quốc gia')
plt.xlabel('GDP (triệu USD)')
plt.hist(gdp, gdp_bins)
# plt.show()

#GDP các quốc gia không đều

In [11]:
#Tính số quốc gia theo Châu lục

rs= df.groupby( ['Continent'],axis=0 )['Country'].count()
rs

Continent
Africa           29
Asia             36
Europe           37
North America    11
Oceania           3
South America     9
Name: Country, dtype: int64

In [ ]:
df.head()

In [10]:
rs1= df.pivot_table('Country',index='Continent',aggfunc={'Country': 'count'} )
rs1

               Country
Continent
Africa              29
Asia                36
Europe              37
North America       11
Oceania              3
South America        9

In [12]:
#Tính tổng GDP theo Châu lục
rs2 = df.pivot_table(['Country', 'GDP'],index='Continent',aggfunc={'Country':'count', 'GDP':'sum'})
rs2

               Country       GDP
Continent
Africa              29   1820811
Asia                36  24425891
Europe              37  19139380
North America       11  18238447
Oceania              3   1662727
South America        9   4141217

In [15]:
#top 10 quốc gia GDP cao nhất
rs3 = df.sort_values(by='GDP',ascending=False)
rs3.head(10)

             Country      Continent       GDP
118    United States  North America  15094025
23             China           Asia   7298147
60             Japan           Asia   5869471
44           Germany         Europe   3577031
41            France         Europe   2776324
15            Brazil  South America   2492908
117   United Kingdom         Europe   2417570
58             Italy         Europe   2198730
93            Russia           Asia   1850401
21            Canada  North America   1736869